
.card-Container{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.657);
}
.card-title{
    color: #5b5b55;
    font-family: 'Montez', 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-family: cursive;
}
.card-location{
    color: #53c14b;
    font-family: 'Montez', 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
}
.card-text{
    font-family: cursive;
}
.ingredient-Title{
    color: #505d53;
    font-size: 1.7rem;
    font-family: cursive;
    text-align: center;
    margin: 0;
    padding: 0;color: #505d53;
    font-size: 1.7rem;
}
.ingredient-btn{
    margin: 0;
    padding: 3%;
    text-align: center;
}