
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 0.7rem;
}.item--ys7 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1.3rem;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: IcoFont, 'Source Sans Pro';
  white-space: nowrap;
}
