
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 20.8rem;
}.ellipse-3-qzR {
  vertical-align: top;
  width: 100%;
  height: 18.5rem;
  object-fit: contain;
}
