.container-fluid {
    h2 {
        color: #84bd00;
        font-family: 'Montez', 'Source Sans Pro', sans-serif;  
        font-size: 3rem;
        font-weight: 600;       
        line-height: 1.2175;
        text-align: center;
        margin-top: 2%;
        border-bottom: 1px solid #84bd00;
        padding-bottom: 1%;
    }
  
    .container {
      margin-top: 2rem;
  
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1.5rem;
  
        th, td {
          padding: 1rem;
          text-align: left;
        }
  
        th {
          background-color: #343a40;
          color: #fff;
        }
  
        tbody tr:hover {
          background-color: #f8f9fa;
        }
  
        img {
          max-width: 100px;
          border-radius: 0.25rem;
        }
  
        // .btn {
        //   margin-right: 0.5rem;
        // }
      }
  
      .text-center {
        margin-top: 1.5rem;
      }
    }
    .empty{
        color: #e34316;
        font-family: 'Montez', 'Source Sans Pro', sans-serif;  
        font-size: 3rem;
        font-weight: 600;       
        line-height: 1.2175;
        text-align: center;
        letter-spacing: 1px;
    }
  }
  