<div class="container-fluid hero-container ">
    <div class="row align-items-center justify-content-center">
      <!-- Text on the left -->
      <div class="col-lg-6 hero-text">
        <h1 class="display-4 text-bold fw-bold">Delicious Meals Await!</h1>
        <p class="lead">Explore our mouthwatering chicken recipes crafted with love and perfection.</p>
        <button class="btn btn-outline-light btn-lg" (click)="navigateToMeals()">Discover More</button>
      </div>
  
      <!-- Background image on the right -->
      <div class="col-lg-6 hero-image">
         
      </div>
    </div>
  </div>
