
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 14.6rem;
}.e2f-mv1 {
  width: 100%;
  height: 4.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #c4d600;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
