
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 17.9rem;
}.montserrat-25-BWZ {
  width: 100%;
  height: 3.1rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
