<div class="container-fluid" style="background: url(assets/Images/rectangle-48.png) center / cover no-repeat;
  ">
    <footer class="p-5 text-white ">
      <div class="row">
        
        <div class="col-6 col-md-2 mb-1 ">
          <h5>Fresh Recipe</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Recipes</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Winter salads</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Organic chicken</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Mutton</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-1">
          <h5>In News</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Our Blogs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Contests/Sweepsatkes</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Video</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Newsletter</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-1">
          <h5>About Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQ</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Our Brand</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Our Staff</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Contact Us</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-around py-4 border-top">
        <div class="row d-flex align-items-center justify-content-center flex-column">
            <img src="assets/Images/cp-logo-2.png" style="width: 100px;" alt="Logo">
          </div>
        <p>© 2022 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-white text-white" href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="ms-3"><a class="link-white text-white" href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="ms-3"><a class="link-white text-white" href="#"><i class="fab fa-facebook"></i></a></li>
          </ul>  
      </div>
    </footer>
  </div>